@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #4f46e5;
  --secondary-color: #3b82f6;
  --background-color: #f9fafb;
  --text-color: #111827;
}
